.App {
    margin: auto;
    max-width: 900px;
}

body {
    background-color: aliceblue;
}

#tree-block {
    margin-bottom: 10px;
    background-color: #7fffd4;
    padding: 20px 40px;
    transition: background-color 0.3s ease;
}
#tree-block:hover {
    background-color: #7fffd450;
}